.wrapper {
  display: flex;
  background-color: red;
  min-height: 100vh;
  flex: 1;
}

.sidebar,
.main {
  background-color: white;
  padding: 20px;
}

.sidebar {
  flex: 0 0 25em;
}

.main {
  flex: 1;
}
