.video-list__item {
  padding: 18px 7px 5px;
  border-bottom: 1px solid var(--primary-color);
}

.video-list__item:first-child {
  border-top: 1px solid var(--primary-color);
}

.video-list__item__title {
  margin: 0;
}

.video-list__item__additional-info {
  text-align: right;
  margin-top: 8px;
}

.video-list__item__duration {
  display: inline-block;
  font-style: italic;
}

.video-list__item__remove-btn {
  display: inline-block;
  border-radius: 5px;
  background: var(--base-color-white);
  border: 1px solid var(--base-font-color);
  cursor: pointer;
  margin-left: 10px;
}

.video-list__item__remove-btn:hover {
  border-color: var(--primary-color-darken);
}